<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>shoping</title>
    <link rel="stylesheet" href="/template/css/public.css">
    <link rel="stylesheet" href="/template/css/shoping.css">
</head>
<body>
    <header>
        <div id="top" class="margin">
            <div id="top1" class="top1">
                <div class="t-left">
                    欢迎来到情意绵绵
                    &nbsp;
                    <a class="link111" href="#">登入</a>
                    &nbsp;&nbsp;
                    <a class="link111" href="#">免费注册</a>
                </div>
                <div class="t-right">
                    <a class="link111" href="#">我的订单</a>
                    &nbsp;
                    <a class="link111" href="#">会员中心</a>
                    &nbsp;
                    <a class="link111" href="#">意见反馈</a>
                    &nbsp;
                    <a class="link111" href="#">帮助中心</a>
                    &nbsp;
                </div>
            </div>
        </div>

        <div class="qymm">
            <div class="log">
                <a class="link111" href="#"></a>
            </div>
            <div class="searchleft">
                <form id="searchForm" action="">
                    <input type="text" class="txt" placeholder="请输入关键字"/>
                    <input type="submit" class="sub" value="搜索"/>
                </form>
                <div class="hotsearch">
                    热搜：
                    <a class="link111" href="#">玻璃珠</a>
                    &nbsp;&nbsp;
                    <a class="link111" href="#">冰种</a>
                    &nbsp;&nbsp;
                    <a class="link111" href="#">糯种</a>
                    &nbsp;&nbsp;
                    <a class="link111" href="#">阳绿</a>
                    &nbsp;&nbsp;
                </div>
            </div>
            <div class="l-rigth">
                <img src="/template/images/2.png" alt="联系方式">
            </div>
        </div>
    </header>

    <nav>
        <div class="nav">
            <div class="nav-all">
                <div class="navleft">全部商品分类</div>
                <div class="navcenter">
                    <ul class="overf">
                        <li>
                            <a href="#">网站首页</a>
                        </li>
                        <li>
                            <a href="#">翡翠手镯</a>
                        </li>
                        <li>
                            <a href="#">翡翠挂件</a>
                        </li>
                        <li>    
                            <a href="#">观音佛公</a>
                        </li>
                        <li> 
                            <a href="#">金钻镶嵌</a>
                        </li>
                        <li>    
                            <a href="#">僻邪纳瑞</a>
                        </li>
                        <li>
                            <a href="#">翡翠知识</a>
                        </li>
                    </ul>
                </div>
                <div class="shopcart">
                    <img src="/template/images/3.png" alt="" class="cart">
                    <p>
                        购物车
                        <span id="cart_size">0</span>
                        件
                    </p>
                    <img src="/template/images/4.png" alt="" class="cart-xia">
                </div>
            </div>
        </div>       
    </nav>

    <main>
        
    </main>


    <div class="fbanner">
        <div class="fban wrap"></div>
    </div>
    <div id="footer">
        <div class="footer-t">
            <a href="#">首页</a>
            <span>|</span>
            <a href="#">首页</a>
            <span>|</span>
            <a href="#">首页</a>
            <span>|</span>
            <a href="#">首页</a>
        </div>
        <p>但是发送到发送到是打发斯蒂芬是的发生的个第三帝国</p>
        <p>是的发生的干啥蛋糕收到公司的</p>
    </div>

</body>
<script src="/template/js/goods-main.js" type="module"></script>


</html>