<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品详情</title>
    <link rel="stylesheet" href="/template/css/public.css">
    <link rel="stylesheet" href="/template/css/detail.css">
    <style>
            .list ul{display: none}
      </style>
</head>
<body>
        <header>
                <div id="top" class="margin">
                    <div id="top1" class="top1">
                        <div class="t-left">
                            欢迎来到情意绵绵
                            &nbsp;
                            <a class="link111" href="/template/登入页面.html">登入</a>
                            &nbsp;&nbsp;
                            <a class="link111" href="/template/注册.html">免费注册</a>
                        </div>
                        <div class="t-right">
                            <a class="link111" href="#">我的订单</a>
                            &nbsp;
                            <a class="link111" href="#">会员中心</a>
                            &nbsp;
                            <a class="link111" href="#">意见反馈</a>
                            &nbsp;
                            <a class="link111" href="#">帮助中心</a>
                            &nbsp;
                        </div>
                    </div>
                </div>
        
                <div class="qymm">
                    <div class="log">
                        <a class="link111" href="#"></a>
                    </div>
                    <div class="searchleft">
                        <form id="searchForm" action="">
                            <input type="text" class="txt" placeholder="请输入关键字"/>
                            <input type="submit" class="sub" value="搜索"/>
                        </form>
                        <div class="hotsearch">
                            热搜：
                            <a class="link111" href="#">玻璃珠</a>
                            &nbsp;&nbsp;
                            <a class="link111" href="#">冰种</a>
                            &nbsp;&nbsp;
                            <a class="link111" href="#">糯种</a>
                            &nbsp;&nbsp;
                            <a class="link111" href="#">阳绿</a>
                            &nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="l-rigth">
                        <img src="/template/images/2.png" alt="联系方式">
                    </div>
                </div>
        </header>
        
            <nav>
                <div class="nav">
                    <div class="nav-all">
                        <div class="navleft">全部商品分类</div>
                        <div class="navcenter">
                            <ul class="overf">
                                <li>
                                    <a href="/template/index.html">网站首页</a>
                                </li>
                                <li>
                                    <a href="/template/翡翠手镯.html">翡翠手镯</a>
                                </li>
                                <li>
                                    <a href="/template/翡翠手镯.html">翡翠挂件</a>
                                </li>
                                <li>    
                                    <a href="/template/翡翠手镯.html">观音佛公</a>
                                </li>
                                <li> 
                                    <a href="/template/翡翠手镯.html">金钻镶嵌</a>
                                </li>
                                <li>    
                                    <a href="/template/翡翠手镯.html">僻邪纳瑞</a>
                                </li>
                                <li>
                                    <a href="/template/翡翠手镯.html">翡翠知识</a>
                                </li>
                            </ul>
                        </div>
                        <div class="shopcart">
                            <img src="/template/images/3.png" alt="" class="cart">
                            <p>
                                购物车
                                <span id="cart_size">0</span>
                                件
                            </p>
                            <img src="/template/images/4.png" alt="" class="cart-xia">
                        </div>
                    </div>
                </div>       
            </nav>

        <main>
            <div class="m-left">
                <div class="sbox">
                        <img src="/template/images/p1.JPG"/>
                        <span></span>
                        <p></p>
                    </div>
                    <div class="lbox">
                        <img src="/template/images/p1.JPG"/>
                    </div>
                    <ul class="m-ul">
                        <li class="m-li"><img src="/template/images/p1.JPG" aaa="/template//images/p1.JPG"/></li>
                        <li class="m-li"><img src="/template/images/p2.JPG" aaa="/template/images/p2.JPG"/></li>
                        <li class="m-li"><img src="/template/images/p3.JPG" aaa="/template/images/p3.JPG"/></li>
                        <li class="m-li"><img src="/template/images/p4.JPG" aaa="/template/images/p4.JPG"/></li>
                        <li class="m-li"><img src="/template/images/p5.JPG" aaa="/template/images/p5.JPG"/></li>
                        <li class="m-li"><img src="/template/images/p6.JPG" aaa="/template/images/p6.JPG"/></li>	
                    </ul>
            </div>       
        <div class="m-right">
            <div class="m-right-top"><img src="/template/images/x1.png" alt=""></div>
          <div class="pur">
              <div class="ljgm">
                  <a href="#"><img src="/template/images/xq1.png" alt=""></a>
              </div>
              <div class="jrgwc">
                  <a href="/template/购物车.html"><img src="/template/images/xq2.png" alt=""></a>
              </div>
          </div>  
        </div>
        
        
        
        </main> 
        <div id="footer">
                <div class="footer-t">
                    <a href="#">首页</a>
                    <span>|</span>
                    <a href="#">首页</a>
                    <span>|</span>
                    <a href="#">首页</a>
                    <span>|</span>
                    <a href="#">首页</a>
                </div>
                <p>但是发送到发送到是打发斯蒂芬是的发生的个第三帝国</p>
                <p>是的发生的干啥蛋糕收到公司的</p>
            </div>
        


</body>
<!-- <script type="text/javascript">
    var oul = document.querySelector("ul");
    var ali = document.querySelectorAll(".m-ul li");
    var osbox = document.querySelector(".sbox");
    var ospan = osbox.children[1];
    var op = osbox.children[2];
    var olbox = document.querySelector(".lbox");
    var oimg = olbox.children[0]; 
    osbox.onmouseover = function(){
        ospan.style.display = "block";
        olbox.style.display = "block";
        
        osbox.onmousemove = function(eve){
            var e = eve || window.event;
            var l = e.offsetX - ospan.offsetWidth/2;
            var t = e.offsetY - ospan.offsetHeight/2;
            
            if(l<0) l=0;
            if(t<0) t=0;
            if(l>osbox.offsetWidth-ospan.offsetWidth){
                l=osbox.offsetWidth-ospan.offsetWidth
            }
            if(t>osbox.offsetHeight-ospan.offsetHeight){
                t=osbox.offsetHeight-ospan.offsetHeight
            }
            ospan.style.left = l + "px";
            ospan.style.top = t + "px";
            
            var x = l/(osbox.offsetWidth-ospan.offsetWidth);
            var y = t/(osbox.offsetHeight-ospan.offsetHeight);
            
            oimg.style.left = (olbox.offsetWidth-oimg.offsetWidth) * x + "px";
            oimg.style.top = (olbox.offsetHeight-oimg.offsetHeight) * y + "px";
            
        }		
    }
        
//		oul.onclick = function(eve){
//			var e = eve || window.event;
//			var target = e.target || e.srcElement;
//			if(target == "IMG"){
//				var oaaa = this.children[0].getAttribute("aaa");
//				osbox.children[0].setAttribute("src",oaaa);
//				oimg.setAttribute("src",oaaa);
//			}
//		}
    
    for(var i=0;i<ali.length;i++){
        ali[i].onclick = function(){
            var oaaa = this.children[0].getAttribute("aaa");
            osbox.children[0].setAttribute("src",oaaa);
            oimg.setAttribute("src",oaaa);
        }
    }
    
    osbox.onmouseout = function(){
        ospan.style.display = "none";
        olbox.style.display = "none";
    }	
    
    function creat(){
        var osbox = document.createElement("div");
        var ospan = document.createElement("span");
        var olbox = document.createElement("div");
        var osbox = document.createElement("div");
    }
            
</script> -->





</html>