<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>翡翠手镯</title>
    <link rel="stylesheet" href="/template/css/public.css">
    <link rel="stylesheet" href="/template/css/shoping.css">
    <style type="text/css">
        *{margin: 0;padding: 0;}
        #cont{overflow: hidden;}
        #cont ul{width: 105%;overflow: hidden;}
        .box{margin-top: 15px;position: relative;border: 1px solid #ededed;float: left;margin: 0 17px 20px 0;width: 225px;vertical-align: middle;}
        .box img{width: 225px;height: 225px;}
        .box span{display: block;color: #cc0000;margin: 10px;margin-left: 30px;font-size: 18px;}
        .box p{height: 40px;overflow: hidden;font-size: 14px;line-height: 20px;color: #666;margin: 0 10px;}
        .box em{display: block;width: 120px;line-height: 22px;color: #fff;background: #03a01f;margin: 5px 90px;text-align: center;}

</style>
</head>
<body>
    <header>
        <div id="top" class="margin">
            <div id="top1" class="top1">
                <div class="t-left">
                    欢迎来到情意绵绵
                    &nbsp;
                    <a class="link111" href="登入页面.html">登入</a>
                    &nbsp;&nbsp;
                    <a class="link111" href="注册.html">免费注册</a>
                </div>
                <div class="t-right">
                    <a class="link111" href="#">我的订单</a>
                    &nbsp;
                    <a class="link111" href="#">会员中心</a>
                    &nbsp;
                    <a class="link111" href="#">意见反馈</a>
                    &nbsp;
                    <a class="link111" href="#">帮助中心</a>
                    &nbsp;
                </div>
            </div>
        </div>

        <div class="qymm">
            <div class="log">
                <a class="link111" href="#"></a>
            </div>
            <div class="searchleft">
                <form id="searchForm" action="">
                    <input type="text" class="txt" placeholder="请输入关键字"/>
                    <input type="submit" class="sub" value="搜索"/>
                </form>
                <div class="hotsearch">
                    热搜：
                    <a class="link111" href="#">玻璃珠</a>
                    &nbsp;&nbsp;
                    <a class="link111" href="#">冰种</a>
                    &nbsp;&nbsp;
                    <a class="link111" href="#">糯种</a>
                    &nbsp;&nbsp;
                    <a class="link111" href="#">阳绿</a>
                    &nbsp;&nbsp;
                </div>
            </div>
            <div class="l-rigth">
                <img src="../首页/images/2.png" alt="联系方式">
            </div>
        </div>
    </header> 

    <nav>
        <div class="nav">
            <div class="nav-all">
                <div class="navleft">全部商品分类</div>
                <div class="navcenter">
                    <ul class="overf">
                        <li>
                            <a href="情意绵绵首页.html">网站首页</a>
                        </li>
                        <li>
                            <a href="翡翠手镯.html">翡翠手镯</a>
                        </li>
                        <li>
                            <a href="翡翠手镯.html">翡翠挂件</a>
                        </li>
                        <li>    
                            <a href="翡翠手镯.html">观音佛公</a>
                        </li>
                        <li> 
                            <a href="翡翠手镯.html">金钻镶嵌</a>
                        </li>
                        <li>    
                            <a href="翡翠手镯.html">僻邪纳瑞</a>
                        </li>
                        <li>
                            <a href="翡翠手镯.html">翡翠知识</a>
                        </li>
                    </ul>
                </div>
                <div class="shopcart">
                    <a href="购物车.html">
                    <img src="../首页/images/3.png" alt="" class="cart">
                    <p>
                        购物车
                        <span id="cart_size">0</span>
                        件
                    </p>
                    <img src="../首页/images/4.png" alt="" class="cart-xia">
                    </a>
                </div>
            </div>
        </div>       
    </nav>
    <div class="banner">
         <div class="b-left">
                <ul class="list">
                    <li class="">
                        <div class="bracelet"><a href="#">翡翠手镯&nbsp;&nbsp;></a></div> 
                        <a title="50≈54内径" href="#" class="link46">50≈54内径</a>
                        <a title="58≈63内径" href="#" class="link46">58≈63内径</a>
                        <a title="55≈57内径" href="#" class="link46">55≈57内径</a>
                        
                    </li>
                    <li>
                        <div class="bracelet"><a href="#">观音佛公&nbsp;&nbsp;></a></div> 
                        <a title="欢喜佛公" href="#" class="link46">欢喜佛公</a>
                        <a title="慈悲观音" href="#" class="link46">慈悲观音</a>
                        
                    </li>
                    <li>
                        <div class="bracelet"><a href="#">翡翠挂件&nbsp;&nbsp;></a></div>
                        <a title="吉祥如意" href="#" class="link46">吉祥如意</a>
                        <a title="路路平安" href="#" class="link46">路路平安</a>
                        <a title="玉叶" href="#" class="link46">玉叶</a>
                        <a title="葫芦" href="#" class="link46">葫芦</a>
                        
                    </li>
                    <li>
                        <div class="bracelet"><a href="#">僻邪纳瑞&nbsp;&nbsp;></a></div>
                        <a title="生财金蟾" href="#" class="link46">生财金蟾</a>
                        <a title="招财貔貅" href="#" class="link46">招财貔貅</a>
                    </li>
                    <li>
                        <div class="bracelet"><a href="#">珠链配件&nbsp;&nbsp;></a></div>
                        <a title="项链挂链" href="#" class="link46">项链挂链</a>
                        <a title="手机包链" href="#" class="link46">手机包链</a>
                        <a title="多彩手链" href="#" class="link46">多彩手链</a>                       
                    </li>
                    <li>
                        <div class="bracelet"><a href="#">镶嵌裸石&nbsp;&nbsp;></a></div>
                        <a title="裸石戒面" href="category-22-b0.html" class="link46">裸石戒面</a>
                        <a title="戒指指环" href="category-23-b0.html" class="link46">戒指指环</a>
                        <a title="金钻镶嵌" href="category-24-b0.html" class="link46">金钻镶嵌</a>                      
                    </li>
                    <li>
                        <div class="bracelet"><a href="#">翡翠大件&nbsp;&nbsp;></a></div>
                        <a title="翡翠手玩" href="category-58-b0.html" class="link46">翡翠手玩</a>
                        <a title="翡翠摆件" href="category-57-b0.html" class="link46">翡翠摆件</a>                      
                    </li>
                    <li style="border-bottom:none;">
                        <div class="bracelet"><a href="#">天然玛瑙&nbsp;&nbsp;></a></div>
                        <a title="手镯" href="category-43-b0.html" class="link46">手镯</a>
                        <a title="挂件" href="category-44-b0.html" class="link46">挂件</a>
                        <a title="手链" href="category-45-b0.html" class="link46">手链</a>
                        <a title="手玩" href="category-61-b0.html" class="link46">手玩</a>
                    </li>
                </ul>
                <div class="sctj mt10">
                        <div class="hdtt">商城推荐</div>
                        <div class="pp">
                            <ul><li>
                                    <div class="pic"><a href="goods-19382.html" title="泼墨山天然缅甸A货翡翠老坑冰糯种飘绿手镯53.8mm" target="_blank"><img width="180" height="180" src="http://img.yimianmian.com/images/201609/thumb_img/19382_thumb_G_1474537669997.jpg" alt="泼墨山天然缅甸A货翡翠老坑冰糯种飘绿手镯53.8mm"></a></div>
                                    <div class="name mt10"><a class="link666" href="goods-19382.html" title="泼墨山天然缅甸A货翡翠老坑冰糯种飘绿手镯53.8mm" target="_blank">泼墨山天然缅甸A货翡翠老坑冰糯种飘绿手镯53.8mm</a></div>
                                    <div class="price mt10">¥ 53000</div>
                                </li><li>
                                    <div class="pic"><a href="goods-19246.html" title="飘逸洒脱天然缅甸翡翠A货老坑冰糯种带绿手镯52.5MM" target="_blank"><img width="180" height="180" src="http://img.yimianmian.com/images/201609/thumb_img/19246_thumb_G_1473401295014.jpg" alt="飘逸洒脱天然缅甸翡翠A货老坑冰糯种带绿手镯52.5MM"></a></div>
                                    <div class="name mt10"><a class="link666" href="goods-19246.html" title="飘逸洒脱天然缅甸翡翠A货老坑冰糯种带绿手镯52.5MM" target="_blank">飘逸洒脱天然缅甸翡翠A货老坑冰糯种带绿手镯52.5MM</a></div>
                                    <div class="price mt10">¥ 17600</div>
                                </li><li>
                                    <div class="pic"><a href="goods-19074.html" title="亭亭玉立天然缅甸翡翠A货老坑糯种浅绿手镯56mm" target="_blank"><img width="180" height="180" src="http://img.yimianmian.com/images/201608/thumb_img/19074_thumb_G_1471414829446.jpg" alt="亭亭玉立天然缅甸翡翠A货老坑糯种浅绿手镯56mm"></a></div>
                                    <div class="name mt10"><a class="link666" href="goods-19074.html" title="亭亭玉立天然缅甸翡翠A货老坑糯种浅绿手镯56mm" target="_blank">亭亭玉立天然缅甸翡翠A货老坑糯种浅绿手镯56mm</a></div>
                                    <div class="price mt10">¥ 7800</div>
                                </li><li>
                                    <div class="pic"><a href="goods-19075.html" title="错落有致天然缅甸翡翠A货老坑糯种浅绿手镯58.2mm" target="_blank"><img width="180" height="180" src="http://img.yimianmian.com/images/201608/thumb_img/19075_thumb_G_1471414977039.jpg" alt="错落有致天然缅甸翡翠A货老坑糯种浅绿手镯58.2mm"></a></div>
                                    <div class="name mt10"><a class="link666" href="goods-19075.html" title="错落有致天然缅甸翡翠A货老坑糯种浅绿手镯58.2mm" target="_blank">错落有致天然缅甸翡翠A货老坑糯种浅绿手镯58.2mm</a></div>
                                    <div class="price mt10">¥ 7800</div>
                                </li><li>
                                    <div class="pic"><a href="goods-19077.html" title="眉似新月天然缅甸翡翠A货老坑糯种手镯54.6mm" target="_blank"><img width="180" height="180" src="http://img.yimianmian.com/images/201608/thumb_img/19077_thumb_G_1471415114637.jpg" alt="眉似新月天然缅甸翡翠A货老坑糯种手镯54.6mm"></a></div>
                                    <div class="name mt10"><a class="link666" href="goods-19077.html" title="眉似新月天然缅甸翡翠A货老坑糯种手镯54.6mm" target="_blank">眉似新月天然缅甸翡翠A货老坑糯种手镯54.6mm</a></div>
                                    <div class="price mt10">¥ 12600</div>
                                </li></ul>
                        </div>
                    </div>
        
        
        
        
            </div>
        
        <div class="b-right">
            <div class="r-top">
                <a href="情意绵绵首页.html">首页</a>
                >
                <a href="翡翠手镯.html">翡翠手镯</a>
            </div>
            <div id="cont">
                    <ul>
                          <!-- <li class="box" index="">
                              <img src="http://img.yimianmian.com/images/201405/thumb_img/15049_thumb_G_1400712606407.jpg" alt="">
                              <span>￥5152</span>
                              <p>妍姿俏丽天然缅甸A货冰糯种飘花手镯 内径58.6mm</p>
                              <em>加入购物车</em>
                           </li> -->
                    </ul> 
      
            </div>       
        </div>       
        
        <script src="js/goods-main.js" type="module"></script>
    </div>
    <div id="footer">
        <div class="footer-t">
            <a href="#">首页</a>
            <span>|</span>
            <a href="#">首页</a>
            <span>|</span>
            <a href="#">首页</a>
            <span>|</span>
            <a href="#">首页</a>
        </div>
        <p>但是发送到发送到是打发斯蒂芬是的发生的个第三帝国</p>
        <p>是的发生的干啥蛋糕收到公司的</p>
    </div>
</body>
</html>