<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购物车</title>
    <link rel="stylesheet" href="/template/css/public.css">
    <link rel="stylesheet" href="/template/css/shoping.css">
    <style type="text/css">
       td img{width: 225px;height: 225px;margin-left: 80px;}
        em{display: block;width: 120px;line-height: 30px;color: #fff;background: dodgerblue;margin: 10px auto;text-align: center;border-radius: 6px;}
    </style>
    
</head>
<body>
    <header>
        <div id="top" class="margin">
            <div id="top1" class="top1">
                <div class="t-left">
                    欢迎来到情意绵绵
                    &nbsp;
                    <a class="link111" href="#">登入</a>
                    &nbsp;&nbsp;
                    <a class="link111" href="#">免费注册</a>
                </div>
                <div class="t-right">
                    <a class="link111" href="#">我的订单</a>
                    &nbsp;
                    <a class="link111" href="#">会员中心</a>
                    &nbsp;
                    <a class="link111" href="#">意见反馈</a>
                    &nbsp;
                    <a class="link111" href="#">帮助中心</a>
                    &nbsp;
                </div>
            </div>
        </div>

        <div class="qymm">
            <div class="log">
                <a class="link111" href="#"></a>
            </div>
            <div class="searchleft">
                <form id="searchForm" action="">
                    <input type="text" class="txt" placeholder="请输入关键字"/>
                    <input type="submit" class="sub" value="搜索"/>
                </form>
                <div class="hotsearch">
                    热搜：
                    <a class="link111" href="#">玻璃珠</a>
                    &nbsp;&nbsp;
                    <a class="link111" href="#">冰种</a>
                    &nbsp;&nbsp;
                    <a class="link111" href="#">糯种</a>
                    &nbsp;&nbsp;
                    <a class="link111" href="#">阳绿</a>
                    &nbsp;&nbsp;
                </div>
            </div>
            <div class="l-rigth">
                <img src="/template/images/2.png" alt="联系方式">
            </div>
        </div>
    </header>

    <nav>
        <div class="nav">
            <div class="nav-all">
                <div class="navleft">全部商品分类</div>
                <div class="navcenter">
                    <ul class="overf">
                        <li>
                            <a href="/template/index.html">网站首页</a>
                        </li>
                        <li>
                            <a href="/template/翡翠手镯.html">翡翠手镯</a>
                        </li>
                        <li>
                            <a href="/template/翡翠手镯.html">翡翠挂件</a>
                        </li>
                        <li>    
                            <a href="/template/翡翠手镯.html">观音佛公</a>
                        </li>
                        <li> 
                            <a href="/template/翡翠手镯.html">金钻镶嵌</a>
                        </li>
                        <li>    
                            <a href="/template/翡翠手镯.html">僻邪纳瑞</a>
                        </li>
                        <li>
                            <a href="/template/翡翠手镯.html">翡翠知识</a>
                        </li>
                    </ul>
                </div>
                <div class="shopcart">
                    <img src="/template/images/3.png" alt="" class="cart">
                    <p>
                        购物车
                        <span id="cart_size">0</span>
                        件
                    </p>
                    <img src="/template/images/4.png" alt="" class="cart-xia">
                </div>
            </div>
        </div>       
    </nav>

    <main>
        <div class="sy"> 
            <a href="/template/index.html">首页</a>
            >
            <a href="/template/购物车.html">购物车</a>
        </div>
            <table border="1" cellspacing="0" width="1200" align="center">
                <thead>
                    <tr>
                        <th>图片</th>
                        <th>名字</th>
                        <th>价格</th>
                        <th>数量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                        <td><img src=""/></td>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                        <td><em>删除</em></td>
                    </tr> -->
                </tbody>
            </table>




    </main>


    <div class="fbanner">
        <div class="fban wrap"></div>
    </div>
    <div id="footer">
        <div class="footer-t">
            <a href="#">首页</a>
            <span>|</span>
            <a href="#">首页</a>
            <span>|</span>
            <a href="#">首页</a>
            <span>|</span>
            <a href="#">首页</a>
        </div>
        <p>但是发送到发送到是打发斯蒂芬是的发生的个第三帝国</p>
        <p>是的发生的干啥蛋糕收到公司的</p>
    </div>


</body>
<!-- <script src="js/car-main.js" type="module"></script> -->
<script src="/template/libs/jquery.js"></script>
<script src="/template/libs/jquery.cookie.js"></script>
<script src="/template/module/car.js"></script>
</html>